{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set activeTab = app.request.get('_activeTab')|default(null) %}
{% set uniqueSuffix = '_customer_' ~ customer.id %}
{% set customer_general_info %}
    {% set customer_name_link %}
        <a href="{{ path('oro_magento_customer_view', {'id':customer.id}) }}">
            {{ customer|oro_format_name|escape }}
        </a>
    {% endset %}

    {% set customerData %}
        <a href="{{ path('oro_customer_account_view', {id: customer.id}) }}">
            {{ customer.name }}
        </a>
    {% endset %}
    <div class="row-fluid">
        <br>
        <div class="responsive-block">
            {{ UI.renderHtmlProperty('oro.customer.account.name.label'|trans, customerData) }}

            {% if customer.group %}
                {% if is_granted('VIEW', customer.group) %}
                    {% set groupData %}
                        <a href="{{ path('oro_customer_account_group_view', {id: customer.group.id}) }}">
                            {{ customer.group.name }}
                        </a>
                    {% endset %}
                    {{ UI.renderHtmlProperty('oro.customer.account.group.label'|trans, groupData) }}
                {% else %}
                    {{ UI.renderProperty('oro.customer.account.group.label'|trans, customer.group.name) }}
                {% endif %}
            {% endif %}
        </div>
        <div class="responsive-block">
            {% if customer.parent %}
                {% if is_granted('VIEW', customer.parent) %}
                    {% set parentData %}
                        <a href="{{ path('oro_customer_account_view', {id: customer.parent.id}) }}">
                            {{ customer.parent.name }}
                        </a>
                    {% endset %}
                    {{ UI.renderHtmlProperty('oro.customer.account.parent.label'|trans, parentData) }}
                {% else %}
                    {{ UI.renderProperty('oro.customer.account.parent.label'|trans, customer.parent.name) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endset %}
{% set tabs = [
    {
        'alias': 'oro_account_customer_general_info' ~ uniqueSuffix,
        'widgetType': 'block',
        'label': 'oro.sales.sections.general'|trans,
        'content': customer_general_info,
        'url': null
    }
] %}

{% set tabs = tabs|merge([
    {
        'alias': 'oro_account_customer_users' ~ uniqueSuffix,
        'widgetType': 'block',
        'label': 'oro.customer.accountuser.entity_plural_label'|trans,
        'url': path('oro_account_customer_widget_customer_user_info', {'id': customer.id})
    }
]) %}

{% set tabs = tabs|merge([
    {
        'alias': 'oro_account_customer_shopping_carts' ~ uniqueSuffix,
        'widgetType': 'block',
        'label': 'oro.shoppinglist.entity_plural_label'|trans,
        'url': path('oro_account_customer_widget_shopping_lists_info', {'id': customer.id})
    }
]) %}

{% set tabs = tabs|merge([
    {
        'alias': 'oro_account_customer_rfqs' ~ uniqueSuffix,
        'widgetType': 'block',
        'label': 'oro.rfp.request.entity_plural_label'|trans,
        'url': path('oro_account_customer_widget_rfq_info', {'id': customer.id})
    }
]) %}

{% set tabs = tabs|merge([
    {
        'alias': 'oro_account_customer_quotes' ~ uniqueSuffix,
        'widgetType': 'block',
        'label': 'oro.sale.quote.entity_plural_label'|trans,
        'url': path('oro_account_customer_widget_quotes_info', {'id': customer.id})
    }
]) %}

{% set tabs = tabs|merge([
    {
        'alias': 'oro_account_customer_orders' ~ uniqueSuffix,
        'widgetType': 'block',
        'label': 'oro.order.entity_plural_label'|trans,
        'url': path('oro_account_customer_widget_orders_info', {'id': customer.id})
    }
]) %}

{% set tabs = tabs|merge([
    {
        'alias': 'oro_account_customer_opportunity' ~ uniqueSuffix,
        'widgetType': 'block',
        'label': 'oro.sales.opportunity.entity_plural_label'|trans,
        'url': path('oro_account_customer_widget_opportunities_info', {'id': customer.id})
    }
]) %}

{% set tabPanelOptions = {
    useDropdown: isMobileVersion()
} %}
{% if activeTab %}
    {% set tabPanelOptions = tabPanelOptions|merge({
        activeTabAlias: 'oro_account_customer_' ~ activeTab ~ uniqueSuffix
    }) %}
{% endif %}

<div class="widget-content row-fluid">
    <div class="account-customer-title">{{ customer|oro_format_name|escape }}
        <div class="pull-right label label-info orocrm-channel-lifetime-value-label">
            <b>{{ 'oro.customer.account.lifetime.label'|trans}}:
                {{ oro_channel_account_lifetime(account, channel)|oro_format_currency }}</b>
        </div>
    </div>
    <div class="customer-without-border-tabs">
        {{ tabPanel(tabs, tabPanelOptions) }}
    </div>
</div>
