{% block contact_request_widget %}
    <div class="contact-us-form" data-focusable>
        {% set formAttr = {
            'id': form.vars.id,
            'novalidate': 'novalidate',
        } %}

        {% set fieldAttr = {
            "data-validation": {
                "Oro\\Bundle\\ContactUsBundle\\Validator\\ContactRequestCallbackValidator": {
                    "target": "preferredContactMethod",
                    "deps": {
                        "oro.contactus.contactrequest.method.both": ["emailAddress", "phone"],
                        "oro.contactus.contactrequest.method.phone": "phone",
                        "oro.contactus.contactrequest.method.email": "emailAddress"
                    }
                }
            }|json_encode
        } %}

        {{ form_start(form, {'attr': formAttr}) }}
        <div class="grid">
            <div class="grid__row grid__row--offset-none">
                <div class="grid__column grid__column--6">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="grid__column grid__column--6">
                    {{ form_row(form.lastName) }}
                </div>
            </div>
            <div class="grid__row grid__row--offset-none">
                <div class="grid__column grid__column--12">
                    {{ form_row(form.organizationName) }}
                </div>
            </div>
            <div class="grid__row grid__row--offset-none">
                <div class="grid__column grid__column--12">
                    {{ form_row(form.preferredContactMethod, {'attr': fieldAttr}) }}
                </div>
            </div>
            <div class="grid__row grid__row--offset-none">
                <div class="grid__column grid__column--6">
                    {{ form_row(form.phone) }}
                </div>
                <div class="grid__column grid__column--6">
                    {{ form_row(form.emailAddress) }}
                </div>
            </div>
            <div class="grid__row grid__row--offset-none">
                <div class="grid__column grid__column--12">
                    {{ form_row(form.contactReason) }}
                </div>
            </div>
            <div class="grid__row grid__row--offset-none">
                <div class="grid__column grid__column--12">
                    {{ form_row(form.comment, {attr: {rows: 25}}) }}
                </div>
            </div>
        </div>
        <div class="contact-us-form-actions">
            <button class="role-submit btn btn--info" type="submit">{{ 'oro.contactus.form.submit'|trans }}</button>
        </div>
        {{ form_end(form) }}
        {{ oro_form_js_validation(form, js_validation_options|default({})) }}
    </div>
{% endblock %}
